article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section, main{display:block;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6{margin-bottom: 0;}
.row-0{margin-left: 0;margin-right: 0;}
.input-group-text{background: #ffffff;}
button{border: none;font-family: inherit!important;}
button:hover{cursor: pointer;}
p{margin-bottom: 0;}
ul{padding-left: 0; margin-bottom: 0;}
.padding-0{padding: 0;}
button:focus{outline:none!important;}
.form-control:focus{ border-color: transparent!important; box-shadow: none!important;}
::placeholder { color: #bbbbbb!important; opacity: 1!important; /* Firefox */ font-size: 14px; }
:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #bbbbbb!important; font-size: 14px; }
::-ms-input-placeholder { /* Microsoft Edge */ color: #bbbbbb!important; font-size: 14px; }
@media (min-width:768px) { .padding-md-0{padding: 0;} }
