@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');

body {
    font-family: 'Noto sans-serif TC', sans-serif, Helvetica, Arial, 'LiHei Pro', 'Microsoft JhengHei', sans-serif;
    background-color: #fff;
    font-size: 14px;
    color:var(--main-color);
    letter-spacing: 1px;
}

/***/

.all-btn {
    text-align: right;
}

.all-btn button {
    background-color: var(--main-color);
    color: #ffffff;
    padding: 3px 15px;
    border-radius: var(--border-radius);
    height: calc(1.8125rem + 2px);
}

.all-btn button:hover {
    background-color: var(--button-hover);
}

.all-btn i {
    margin-left: 10px;
}

.save-btn {
    position: fixed;
    bottom: 0;
    width: calc(100% - 250px);
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    left: 250px;
    z-index: 4;
}

.checkbox-area span {
    display: block;
    height: 13px;
    position: relative;
    width: 13px;
    padding: 0;
    border-radius: 3px;
    margin: -4px;
    background-color: #d2d5da;
}

.checkbox-area span:after {
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    content: '';
    display: block;
    height: 7px;
    left: 2px;
    position: absolute;
    top: 6px;
    width: 5px;
}

.checkbox-area span:hover {
    background-color: #b3c5d0;
}

.checkbox-area input {
    display: none
}

.checkbox-area input:checked+span {
    background-color: var(--main-color);
}

.checkbox-area input:checked+span:after {
    -webkit-animation: check .5s;
    -moz-animation: check .5s;
    -o-animation: check .5s;
    animation: check .5s;
}

.breadcrumb {
    padding: 0 5px;
    background-color: transparent;
}

.breadcrumb-item {
    font-size: var(--font-12);
}

.note-editor.note-airframe,
.note-editor.note-frame {
    border-radius: var(--border-radius);
}

.warning {
    font-size: var(--font-12);
    color: var(--warning-color);
}

.select2{
    width: 100%;
}

.select2-container--default .select2-selection--multiple{
    border: 0;
    background-color: var(--input-background);
    border-radius: var(--border-radius);
}

.select2:focus-visible , .selection:focus-visible , .select2-selection:focus-visible{
    outline-width: 0!important;
    outline-color: transparent!important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    border: 0;
    background-color: #778d9a;
    color: #ffffff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    border-right: 0;
    color: #ffffff;
    position: relative;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove span{
    display: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove::after{
    content: '\f00d';
    border: 0;
    font-family: 'FontAwesome';
    font-size: var(--font-12);
    position: absolute;
    top: -13px;
    right: 10px;
    color: #ffffff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus{
    background-color: inherit;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color: #f5f6f9;
    color: var(--main-color);
}

.select2-container--default .select2-results__option--selected{
    background-color: transparent;
    position: relative;
}

.select2-container--default .select2-results__option--selected::after{
    content: '\f058';
    border: 0;
    font-family: 'FontAwesome';
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--check-color);
}

.select2-dropdown{
    border: 1px solid #e5e5e5!important;
    border-radius: 5px!important;
}

@media (max-width:991px){
    .save-btn{
        width: 100%;
        left: 0;
    }
}

/*navbar*/

.page-left .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.page-left .navbar-nav{
    width: 100%;
}

.page-left .navbar-collapse{
    align-items: flex-start;
}

.navbar-brand{
    color: #ffffff;
}

.page-left .navbar-brand{
    margin-left: 15px;
    color: #ffffff;
}

#navbarNavDropdown {
    transition: width 0.3s ease; 
}

#navbarNavDropdown.collapse {
    width: 0;
}

#navbarNavDropdown.collapsing {
    transition-property: width;
    height: 100%;
    width: 0;
    transition: width 0.3s ease;
}

#navbarNavDropdown.show{
    width: 250px;
}

.page-left .nav-item {
    padding: 5px 10px;
}

.page-left .nav-item i{
    margin-right: 5px;
}

.page-left .navbar-expand-lg .navbar-collapse{
    width: 100%;
}

@media (min-width: 992px) {
    .page-left .navbar-expand-lg .navbar-toggler {
        display: block;        
    }

    .page-left .navbar-expand-lg .navbar-nav{
        flex-direction: column;
    }

    .page-left .navbar-expand-lg .navbar-collapse{
        width: 100%;
    }
}

/**/
.page{
    display: flex;
    background-color: #f2f2f7;
}

/*page-left*/

.page-left{
    position: fixed;
    z-index: 4;
    width: 0;
}

.page-left-width{
    padding-top: 60px;
    width: 250px;
    min-height: 100vh;
}

.accordion{
    width: 100%;
}

.navbar-light .navbar-nav .nav-link{
    color: var(--main-color);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: #7f97b2;
}

.nav-link.drop{
    position: relative;
}

.nav-link.drop::after{
    content: '\f105';
    border: 0;
    font-family: 'FontAwesome';
    font-size: var(--font-12);
    position: absolute;
    top: 10px;
    right: 5px;
}

.nav-link[aria-expanded="true"]{
    color: var(--main-color);
}

.nav-link[aria-expanded="true"].drop::after {
    transform: rotate(90deg);
    color: var(--main-color);
}

.nav-sub{
    padding: 5px;
    padding-left: 30px;
    background-color: #ecedef;
}

.nav-sub a{
    color: var(--main-color);
}

.nav-sub.active {
    background-color: var(--main-color);
    border-radius: var(--border-radius);
}

.nav-sub.active a{
    color: #ffffff;
}

@media (max-width:991px){
    .page-left{
        background-color: rgb(92 107 116 / 50%);
    }
    
    #navbarNavDropdown.show{
        width: 100%;
    }
}

/*header*/

.dropdown-toggle{
    position: relative;
}

.dropdown-toggle::after{
    content: '\f107';
    border: 0;
    font-family: 'FontAwesome';
    font-size: var(--font-12);
    position: absolute;
    top: 3px;
    margin-left: 10px;
}


header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    position: fixed;
    width: 100%;
    left: 0;
    background-color: var(--main-color);
    z-index: 5;
}

header i{
    color: #ffffff;
}

.header-dropdown{
    display: flex;
    align-items: center;
}

.header-dropdown .dropdown{
    margin-right: 15px;
}

.header-dropdown .dropdown button{
    background-color: transparent;
    color: #ffffff;
}

.header-dropdown .dropdown-menu{
    left: auto!important;
    right: 0;
    top: 20px!important;
    transform: none!important;
    padding: .5rem;
    padding-top: .8rem;
}

.header-note::after{
    display: none;
}

.dropdown-menu{
    font-size: 14px!important;
}

.dropdown-item.active,
.dropdown-item:active{
    background-color: transparent;
    color: var(--main-color);
}

.note-dropdown{
    width: 360px;
}

.note-dropdown .dropdown-item{
    border-bottom: 1px solid #eeeeee;
    padding: .5rem 1.5rem;
    margin-bottom: 20px;
}

.header-dropdown .dropdown-menu i {
    color: var(--main-color);
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

.note-dropdown .dropdown-item p{
    font-size: var(--font-12);
    text-align: right;
    color: #666666;
}

@media (max-width:767px){
    .header-dropdown .dropdown-menu.note-dropdown{
        position: absolute;
        will-change: transform;
        top: 0px;
        left: 0px!important;
        right: auto;
        transform: translate3d(-205px, 23px, 0px)!important;
    }
}

/*page-right*/

.page-right{
    padding: 15px;
    padding-top: 75px;
    padding-bottom: 30px;
    min-height: 100vh;
    background-color: #f2f2f7;
    margin-left: 250px;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.page-left.collapse~.page-right {
    margin-left: 0;
}

.page-left.collapse.show~.page-right{
    margin-left: 250px; 
}

.modal.fadeIn .modal-dialog{
    animation-duration: 0.5s;
    animation-name: fadeInDown;
}

.announce{
    padding-right: 0!important;
}

.announce .modal-content{
    min-height: 100vh;
    overflow-y: scroll;
    border-radius: 0;
}

.announce .modal-content button{
    text-align: right;
}

.modal-header{
    align-items: center;
}

.announce .modal-header{
    padding: 10px 15px;
}

@media (max-width:767px){
    .page-right{
        width: 100%;
        margin-left: 0!important;
    }
}

@media (min-width:576px){
    .announce .modal-dialog{
        max-width: 400px;
        margin: 0;
        margin-left: auto;
    }
}

/*overview*/

.overview-item{
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    flex-wrap: wrap;
}


.overview-icon{
    border-radius: 50%;
    padding: 10px;
    font-size: var(--font-16);
    font-weight: bold;
    color: var(--main-color);
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #f1f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.overview-text{
    flex: 1 1 0;
}

.overview-text p{
    color: #74788d;
}

.overview-text b{
    display: block;
    color: #000000;
    font-size: var(--font-16);
}

.overview-text i{
    color: #7ea0c7;
    font-size: var(--font-12);
    margin-left: 5px;
}

.overview-chart{
    background-color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.overview-chart .title{
    margin-bottom: 30px;
    display: inline-block;
    font-size: var(--font-16);
    font-weight: bold;
}

.chart-link{
    padding: 2px 10px;
    box-shadow: 0px 1px 1px 0px var(--main-color);
    border-radius: var(--border-radius);
}

.chart-link.active{
    background-color: var(--main-color);   
    color: #ffffff;
    
}

.chart-tab{
    float: right;
}

.hot-sale{
    display: flex;
    align-items: center;
}

.hot-sale img{
    width: 35px;
    height: 35px;
    box-shadow: var(--img-shadow);
    padding: 2px;
    border-radius: var(--border-radius);
    margin-right: 15px;
}

.product-five table{
    width: 100%;
}

.product-five thead{
    margin-bottom: 15px;
    background-color: var(--input-background);
}

.product-five th:first-child{
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.product-five th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.product-five td:first-child{
    padding: 0 10px;
}

tr.space{
    height: 15px;
}

.business-data{
    overflow-y: scroll;
    padding: 0 10px;
}

.business-data-item{
    margin-bottom: 15px;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
}

.business-data-item b{
    display: flex;
    justify-content: space-between;
}

.business-data-item span{
    color: #F7996E;
}

.business-data-item small{
   color: #949494;
}

/*store-set*/

.form-control{
    border: 0;
    background-color: var(--input-background);
    border-radius: var(--border-radius);
}

.form-control:focus{
    background-color: var(--input-hover);
}

.custom-control-input:checked~.custom-control-label::before{
    border-color: var(--main-color);
    background-color: var(--main-color);
}

.custom-control-input:focus~.custom-control-label::before{
    box-shadow: none;
}

.store-set-area .title{
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
    font-size: var(--font-16);
    font-weight: bold;
}

.store-type{
    flex: 5 1 0;
}

.store-type span{
    background-color: var(--input-background);
    color: var(--main-color);
    height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    display: block;
    border-radius: var(--border-radius);
}

.basic{
  
}

.basic-area{
    background-color: #ffffff;
    padding: 15px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 30px;
}

.basic-title{
    padding: 0px 5px;
    border-radius: var(--border-radius);
    border: 1px solid;
    display: inline-block;
    box-shadow: 1px 1px 0px 0px var(--main-color);
    margin-bottom: 10px;
}

.basic-item{
    margin: 7.5px 0;
}

.basic-last-item{
    margin-bottom: 15px;
}


label{
    margin-bottom: 3px;
    margin-left: 3px;
}

.basic-store{
    display: flex;
}

.basic-name{
    
}

.basic-open{
    flex: 1 1 0
}

.basic-footer{
    font-size: var(--font-12);
    margin-top: 5px;
}

.basic-footer .checkbox-area {
    margin-left: 10px;
}

.basic-group-text{
    padding-left: 5px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 3;
    background-color: var(--input-background);
}

.basic-group-text.right{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.store-site a{
    height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1;
    display: block;
    border-radius: var(--border-radius);
    color: var(--warning-color)!important;
    text-decoration: underline!important;
    word-break: break-all;
}

.basic-upload{
    width: 100%;
    border: 1px dashed #d5dce5;
    height: 200px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--input-background);
    flex-direction: column;
    cursor: pointer;
}

.basic-upload i{
    font-size: 28px;
    color: #7f929c;
    margin-bottom: 10px;
}

.basic-upload:hover i{
    color: var(--main-color);
}

.basic-upload p{
    font-size: var(--font-12);
}

.basic-switch{
    text-align: right;
    margin-top: 5px;
}

/*order-set*/

.order-switch p{
    display: block;
    font-size: var(--font-12);
}

.order-switch span{
    color: var(--warning-color);
    font-size: var(--font-12);
}

.order-switch span a{
    text-decoration: underline;
}

.order-content{
    margin-top: 30px;
}

.order-cancel-item , .order-return-item{
    display: none;
    margin-top: 15px;
}

.order-return-area{
    padding-bottom: 15px;
    border-bottom: 1px solid #d2d6d8;
    margin-bottom: 15px;
    transition: all ease-in 0.5s;
    margin-top: 7.5px;
}

.order-return{
    background-color: var(--input-background);
    border-radius: var(--border-radius);
    height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    margin-top: 7.5px;
}

.order-return i{
    float: right;
    background-color: var(--main-color);
    color: #ffffff;
    padding: 5px;
    border-radius: 50%;
    font-weight: 400;
    cursor: pointer;
}

.order-return-btn{
    display: flex;
}

.order-return-btn input{
    flex: 1 1 0;
    margin-right: 10px;
}

.order-return-day span{
    color: var(--warning-color);
    font-size: var(--font-12);
}

.order-remark{
    margin-bottom: 15px;
}

.order-field{
    border: 1px solid #edf1f3;
    border-top: 30px solid #dde4ee;
    border-radius: var(--border-radius);
    /* box-shadow: 1px 1px 4px 2px #e7e5e5; */
    padding: 15px;
    margin-bottom: 10px;
}

.order-checkbox{
    display: inline-block;
    float: right;
    font-size: var(--font-12);
    margin-top: 5px;
}

/*paging-set*/

.paging-switch {
    display: inline-block;
    float: right;
}

/*product-set*/

.product-size{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product-size .outer{
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border: 1px solid var(--main-color);
    padding: 5px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 15px;
    position: relative;
}

.product-size .outer i{
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #ffffff;
    border-radius: 50%;
    color: var(--check-color);
}

.product-size .square , .product-size .rectangle-1 , .product-size .rectangle-2 , .product-size .rectangle-3{
    width: 65px;
    height: 65px;
    background-color: #bbc6cc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}

.product-size p{
    font-size: var(--font-16);
    font-weight: bold;
    color: #ffffff;
}

.product-size .rectangle-1{
    width: 60px;
    height: 40px;
}

.product-size .rectangle-2{
    width: 60px;
    height: 45px;
}

.product-size .rectangle-3{
    width: 65.6px;
    height: 36.9px;
}

.product-size .rectangle-3.rotate , .product-size .rectangle-2.rotate , .product-size .rectangle-1.rotate{
    transform: rotate(90deg);
}

.product-size .rectangle-3.rotate p , .product-size .rectangle-2.rotate p , .product-size .rectangle-1.rotate p{
    transform: rotate(-90deg);
}

.product-size .autoset p{
    color: var(--main-color);
}

.product-size-name{
    border: 1px solid var(--main-color);
    border-radius: 15px;
    padding: 0 15px;
    margin-right: 15px;
    color: var(--main-color)!important;
    font-size: 14px!important;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
}

.autoset-input{
    flex: 1 1 0;
}

.rectangle-area{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.format-style-title{
    border: 1px solid var(--main-color);
    border-radius: 15px;
    padding: 0 15px;
    margin-right: 15px;
    color: var(--main-color) !important;
    font-size: 14px !important;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
}

.format-style{
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.format-style select{
    flex: 1 1 0;
    margin-left: 5px;
}

.format-style .form-control:disabled{
    background-color: var(--input-background);
}

.format-outer{
    padding: 0 5px;
    border: 1px solid #e4e8eb;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.format-outer i{
    position: absolute;
    top: -5px;
    right: -9px;
    color: var(--check-color);
}

.format-style button{
    margin-left: 5px;
    padding: 1px 5px;
    height: auto;
}

.format-style button:hover{
    background-color: var(--main-color);
}

/*customer-set*/

.social-login{
    text-decoration: underline;
}

/*clerk*/

.clerk-access li{
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 5px;
    cursor: pointer;
    margin-right: 5px;
}

.clerk-access li.chose{
    background-color: var(--main-color);
    color: #ffffff;
    position: relative;
}

.clerk-access li.chose::after{
    content: '\f058';
    font-family: 'fontAwesome';
    position: absolute;
    top: -10px;
    right: -7px;
    color: var(--check-color);
    background-color: #ffffff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.basic-table{
    padding-top: 30px;
    padding-bottom: 70px;
}

.basic-table table{
    width: 100%;
}

.basic-table table thead td{
    font-weight: bold;
}

.basic-table tbody tr{
    background-color: var(--input-background);
}

.basic-table tbody tr td , .basic-table thead tr td {
    padding: 10px 0;
    white-space: nowrap;
}

.basic-table tbody tr td:first-child{
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.basic-table thead tr td:first-child{
    padding-left: 10px;
}

.basic-table tbody tr td:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.more .dropdown-toggle::after{
    display: none;
}

.more button{
    color: var(--main-color);
    background-color: transparent;
}

.more button:hover{
    background-color: #d0dae8!important;
    border-radius: 50%;
}

.more .dropdown{
    display: inline-block;
}

.more .dropdown-menu{
    top: 20px!important;
    left: auto!important;
    right: 0px;
    min-width: auto;
    transform: none !important;
}

.more .dropdown-menu i{
    margin-right: 5px;
}

.more .dropup .dropdown-menu{
    position: absolute;
    will-change: transform;
    top: 0px!important;
    left: 0px!important;
    right: auto!important;
    transform: translate3d(-101px, -108px, 0px)!important;
}

.more .dropdown-item{
    color: var(--main-color);
}

/*category*/

.category-item{
    margin: 15px 0;
}

.category-name{
    cursor: move;
}

.category-area{
    display: flex;
    justify-content: space-between;
    background-color: var(--input-background);
    padding: 2px 10px;
    border-radius: var(--border-radius);
    border-bottom: 1px solid #d7e0ec;
}

.category-second{
    margin-left: 15px;
}

.category-third{
    margin-left: 30px;
}

/*category-block*/

.category-block{
    background-color: var(--input-background);
    border-radius: var(--border-radius);
    padding: 10px;
}

.category-level{
    border-right: 1px solid #d9dde2;
    min-height: 200px;
    padding-right: 10px;
}

.catrgory-event{
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.category-content{
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    flex: 1 1 0;
    box-shadow: var(--box-shadow);
}

.category-content.active{
    color: var(--warning-color);
}

.category-edit{
    display: flex;
    align-items: center;
}

.category-edit .more button{
    color: #ffffff;
    background-color: var(--main-color);
    padding: 0 3px;
    border-radius: 50%;
    font-size: var(--font-12);
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.category-edit .more button:hover{
    background-color: #93a5b0!important;
}

.category-sort{
    display: flex;
    align-items: center;
    cursor: move;
}

.category-sort i{
    margin-right: 5px;
}

.category-arrow{
    padding-left: 10px;
}

@media (max-width:767px){
    .category-level{
        border-right: 0;
        border-bottom: 1px solid #d9dde2;
        margin-bottom: 15px;
    }

    .category-arrow i{
        transform: rotate(90deg);
    }
}

/*product-list*/

.product-table table td img{
    width: 35px;
    height: 35px;
    box-shadow: var(--img-shadow);
    padding: 2px;
    border-radius: var(--border-radius);
}

.product-name{
    max-width: 255px;
    display: inline-block;
    vertical-align: middle;
}

.product-name p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-num{
    color: #a6a6a6;
    font-size: 12px;
}

.product-group{
    display: flex;
}

.product-name-td{
    width: 30%;
}

.product-group-td{
    width: 50%;
}

.product-group-more{
    text-align: center;
    position: relative;
}

.product-group-more::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #c2c6cc;
    left: 0;
    right: 0;
    top: 10px;
}

.product-group-more i{
    margin: 0 5px;
}

.product-group-more a{
    position: relative;
    z-index: 1;
    background-color: #edf0f4;
    font-weight: bold;
}

.product-group-more a:hover{
    color: #a2b5c0;
}

.product-group div{
    flex:  1 1 0;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.product-group-single div{
    margin-bottom: 0;
}

.product-group div:first-child{
    flex: 2 1 0;
}

.product-group-edit{
    color: #a2b5c0;
}

.product-list-img{
    display: inline-block;
}

.product-width{
    width: 40%;
}

.rack-btn button{
    padding: 0 2px;
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
    background-color: #ffffff;
}

.rack-btn .active{
    background-color: var(--main-color);
    color: #ffffff;
}

.page-number{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0;
}

.page-number div {
    width: 20px;
    height: 20px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1px;
}

.page-number a , .page-number i{
    font-size: var(--font-12);
}

.page-number .active{
    background-color: var(--main-color);
    color: #ffffff;
}

.product-button{
    position: fixed;
    bottom: 30px;
    background-color: #ffffff;
    padding: 0 7.5px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    z-index: 1;
}

.product-show{
    display: flex;
    justify-content: space-between;
}

.product-left{
    display: flex;
}

.product-left select{
    border-right: 1px solid #c0c0c0;
}

.product-right{
    display: flex;
}

.product-search{
    position: relative;
}

.product-search input{

}

.product-search i{
    margin-left: 0;
}

.product-search button{
    padding: 3px 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.product-style{
    text-align: center;
    justify-self: flex-end;
}

.product-style.form-control{
    width: auto;
    padding: 5px;
}

.product-style .active{
    color: #3cb13e;
}

.product-style li{
    margin: 0 2.5px;
}

.product-gird{
    margin-bottom: 30px;
}

.product-gird img{
    width: 100%;
    box-shadow: var(--img-shadow);
    padding: 2px;
    border-radius: var(--border-radius);
}

.product-info{
    background-color: var(--input-background);
    padding: 5px;
}

.product-gird .product-name{
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-align: justify;
}

.product-gird .rack-btn{
    display: inline-block;
    margin: 5px 0;
    font-size: var(--font-12);
}

.product-gird .more{
    display: inline-block;
    float: right;
    margin: 5px 0;
}

.product-gird .product-price{
    margin: 5px 0;
    font-weight: bold;
}

.product-gird .product-top{
    position: relative;
}

.product-gird .product-chose{
    position: absolute;
    top: -5px;
    right: -1px;
}

.quantity-batch{
    display: flex;
    align-items: center;
}

.quantity-math{
    margin-right: 10px;
}

.quantity-math i{
    border: 1px solid;
    border-radius: 5px;
    padding: 2px 3px;
    cursor: pointer;
}

.quantity-math .active{
    background-color: var(--main-color);
    color: #ffffff;
}

.quantity-batch input{
    flex: 1 1 0;
}

.quantity-edit .all-btn{
    margin-top: 7.5px
}

.quantity-table td{
    width: 50%;
}

.quantity-table input , .order-table select , .blog-table select{
    box-shadow: 1px 1px 0px 0px #e2e2e2;
    background-color: #ffffff;
}

.quantity-table input:focus , .order-table select:focus , .blog-table select:focus{
    background-color: #ffffff;
}

.quantity-table tr td:last-child{
    padding-right: 10px;
}

@media (max-width:991px){

       .basic-table tbody tr td, .basic-table thead tr td , .product-group div{
        padding-right: 45px;
    }

    .rack-btn button{
        white-space: nowrap;
    }

    .rack-btn{
        display: flex;
    }

    .basic-table {
        overflow-x: scroll;
    }
}

@media (max-width:767px){
    
    .basic-table tbody tr td, .basic-table thead tr td{
        padding-right: 45px;
    }

    .product-left div{
        margin-bottom: 5px;
    }

    .product-left div:first-child{
        flex: 1 1 0;
    }

    .product-left div:last-child{
        flex: 2 1 0;
    }

    .product-right div:first-child{
        flex: 2 1 0;
        margin-right: 5px;
    }

    .product-right div:last-child{
        flex: 1 1 0;
    }

    .product-show{
       display: inline-block;
       width: 100%;
    }

    .product-show div{
        margin-right: 0;
    }
}

/*product-create*/

.create-product-nav{
    border: 0;
}

.create-product-nav .nav-item{
    margin-bottom: 5px;
}

.create-product-nav.nav-tabs .nav-link:focus,
.create-product-nav.nav-tabs .nav-link:hover{
    border: 0;
}

.create-product-nav.nav-tabs .nav-link{
    border: 0;
    border-radius: var(--border-radius);
    background-color: #dbe2ea;
    margin: 0 2.5px;
    padding: 8px;
}

.create-product-nav.nav-tabs .nav-item.show .nav-link,
.create-product-nav.nav-tabs .nav-link.active {
    border: 0;
    background-color: var(--main-color);
    color: #ffffff;
}

.product-tab{
    padding: 15px 0;
}

.product-status {
    margin-left: 5px;
}

.product-images-area{
    display: flex;
    flex-wrap: wrap;
}

.product-imges{

    position: relative;
    margin: 0 auto;
    width: 25%;
    padding: 0 2.5px;
    margin-bottom: 10px;
}

.product-imges img {
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 18%);
    padding: 2px;
}

.product-images-tools{
    position: absolute;
    right: 7px;
    bottom: 5px;
}

.product-images-tools a{
    margin-bottom: 3px;
}

.product-images-tools i{
    width: 22px;
    height: 22px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    font-size: var(--font-12);
    box-shadow: 1px 1px #dedede;
}

.product-volume{
    display: flex;
}

.product-volume .basic-item{
    margin-right: 5px;
}

.product-format{
    border: 1px solid #e4e4f3;
    border-radius: var(--border-radius);
    padding: 10px;
    margin-bottom: 7.5px;
}

.product-format-area{
    display: flex;
    background-color: var(--input-background);
    padding: 2px 10px;
    border-radius: var(--border-radius);
}

.product-format-content{
    width: 33.33333%!important;
}

.product-format-content .product-format-item input{
    box-shadow: 1px 1px 0px 0px #e2e2e2;
    background-color: #ffffff;
}

.product-format-img{
    width: 55px;
    margin-right: 10px;
}

.product-format-img img{
    width: 100%;
    border-radius: var(--border-radius);   
    box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 18%);
    padding: 2px;
}

.product-format-info{
    flex: 1 1 0;
    display: flex;
}

.product-format-info .basic-item{
    width: 25%;
    margin: 2px 0;
}

.product-format-item{
    margin-right: 5px;
}

.product-format-item label{
    margin-bottom: 0;
    margin-right: 5px;
}

.product-format-item input{
}

.product-format-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-format-name > div{
    width: 33.3333333%;
    margin-right: 5px;
    border: 1px solid #e4e4f3;
    padding: 5px;
    border-radius: var(--border-radius);
}

.product-check{
    position: relative;
}

.product-check .all-btn{
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

.product-check .all-btn button{
    padding: 3px 8px;
}

.product-check .all-btn i{
    margin-left: 0;
}

.chose-addon-area{
    display: flex;
    border: 1px solid #e4e4f3;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    align-items: center;
}

.chose-addon-img{
    flex: 1 1 0;
}

.chose-addon-img img{
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--img-shadow);
    padding: 2px;
}

.chose-addon-info{
    flex: 7 1 0;
    margin: 0 5px;
    overflow: hidden;
    margin-left: 15px;
}

.chose-addon-info p{
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}

.chose-addon-type{
    flex: 1 1 0;
    align-self: flex-end;
}

.chose-addon-type p{
    background-color: #ffefe8;
    text-align: center;
    border-radius:var(--border-radius);
    color: var(--warning-color);
    font-size: 12px;
}

.chose-addon-area.active{
    border: 1px solid #bacbba;
}

.chose-addon-area.active::after{
    content: '\f058';
    font-family: 'FontAwesome';
    position: absolute;
    top: -10px;
    right: -5px;
    color: var(--check-color);
    background-color: #ffffff;
    border-radius: 50%;
}

.chose-addon-area.delete::after {
    content: '\f057';
    font-family: 'FontAwesome';
    position: absolute;
    top: -10px;
    right: -5px;
    color: var(--main-color);
    background-color: #ffffff;
    border-radius: 50%;
}

.appoint-product{
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}

.addon-group div {
    margin-bottom: 0;
}

.addon-group div:first-child{
    flex: 1 1 0;
}

.addon-td{
    width: 60%;
    max-width: 60%;
}

.addon-table{
    padding-top: 0;
    padding-bottom: 10px;
}

.chose-addon-info.coupon{
    flex: 4 1 0;
    flex-wrap: wrap;
}

/*tag*/

.tag-area {
    border: 1px solid #e4e4f3;
    border-radius: 5px;
    padding: 5px;
}

.tag-area img {
    width: 100%;
}

.tag-item {
    position: relative;
}

.tag-item input[type="color"] {
    position: absolute;
    right: 4px;
    width: 21px;
    height: 25px;
    top: 2px;
    padding: 0;
}

.tag-btn {
    text-align: center;
}

.tag-btn button {
    background-color: #ffffff;
}

.tag-btn button:hover {
    background-color: #ffffff;
}

.tag-btn button:hover i {
    color: var(--button-hover);
}

.tag-btn i {
    margin-left: 0;
    font-size: 28px;
    color: var(--main-color);
}

/*discount*/

.discount-filter{
    flex-basis: 50%;
    margin-right: 5px;
}

.discount-search{
    flex-basis: 40%;
}

.discount-search button{
    top: 32px;
}

.discount-right{
    width: 150px;
    margin-left: auto;
}

.discount-grad{
    margin-bottom: 15px;
    border: 1px solid #edf1f3;
    padding: 0 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.grad-title{
    background-color: #dde4ee;
    color: #5c6b74;
    padding: 5px 10px;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.grad-title select{
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    background-color: #ffffff;
    box-shadow: var(--box-shadow);
    width: 50%;
}

/*coupon*/

.coupon-label{
    margin-right: 15px;
}

.add-coupon-group button{
    height: auto;
}

/* .coupon-point{
    color: var(--warning-color);
    font-weight: bold;
    font-size: 16px;
} */

.coupon-chose-item{
    font-weight: bold;
    margin-bottom: 5px;
}

.coupon-chose-area{
    background-color: var(--input-background);
    border-radius: var(--border-radius);
    margin-bottom: 30px;
}

.coupon-chose-head{
    border-bottom: 1px solid #d8dde3;
    padding: 10px 15px;
}

.coupon-chose-content{
    padding: 15px;
}

.coupon-chose-content h6{
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold !important;
}

.coupon-chose-content p{
    margin-bottom: 10px;
}

.coupon-chose-content span{
    font-size: 12px;
    display: inline-block;
}

.coupon-chose-footer{
    padding: 15px;
}

/*coupon-preview*/

.coupon-preview{
    margin-bottom: 15px;
}

.coupon-preview.main span{
    background-color: #e9835c;
    color: #ffffff;
}

.coupon-preview span{
    background-color: var(--input-background);
    padding: 3px 10px;
    border-radius: var(--border-radius);
    margin-left: 5px;
}

/*customer*/

.gold-table td {
    padding-right: 10px!important;
    padding-top: 25px!important;
}

.gold-table tr{
    vertical-align: baseline;
}

.gold-table input , .gold-table textarea{
    box-shadow: 1px 1px 0px 0px #e2e2e2;
    background-color: #ffffff;
}

.gold-table input:focus {
    background-color: #ffffff;
}

.gold-table tr td:last-child {
    padding-right: 10px;
}


.gold-table .basic-group-text{
    background-color: #ffffff;
}

/*edm*/

.edm{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    border-bottom: 1px solid #c5ccd3;
    background-color: var(--input-background);
}

.edm-left{
    display: flex;
    padding-right: 5px;
    flex: 1 1 0;
}

.edm-right{
    display: flex;
    justify-content: space-between;
    flex: 8 1 0;
}

.edm-name{
    white-space: nowrap;
    margin-left: 15px;
}

.edm-content{
    flex-basis: 90%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-height: 21px;
}

.edm-date{
    white-space: nowrap;
    margin-right: 5px;
    font-size: 12px;
}

.edm:hover{
    cursor: pointer;
    box-shadow: var(--img-shadow);
    border: 1px solid #a5abb3;
}

.edm-name.draft{
    color: var(--warning-color);
}

.edm-item{
    font-weight: bold;
}

.edm-advan{
    text-align: right;
    margin-top: 5px;
}

.edm-advan p span{
    font-weight: bold;
}

.edm-advan a{
    text-decoration: underline;
}

.edm-people p{
    display: inline-block;
    background-color: var(--main-color);
    color: #ffffff;
    border-radius: var(--border-radius);
    padding: 0 5px;
}

.edm-people p span{
    font-weight: bold;
}

@media (max-width:767px){
    .edm{
        flex-wrap: wrap;
    }

    .edm-right{
        flex: auto;
    }
}

/*order*/

.order-link{
    color: #8da8b8;
}

.order-link:hover{
    text-decoration: underline!important;
}

.order-dropdown{
    border-radius: 5px;
}

.order-preview{
    margin-bottom: 15px;
}

.order-preview p{
    margin-bottom: 5px;
}

.order-preview span{
    font-weight: bold;
    display: inline-block;   
}

.order-preview a{
    margin-left: 10px;
}

.order-table{
    padding-top: 10px;
    padding-bottom: 10px;
}

.order-table td{
    padding: 5px 10px!important;
}

.order-table .space{
    height: 5px;
}

.order-table .product-name{
    width: 150px;
}

.order-detail{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    margin-bottom: 3px;
    padding: 0 3px;
    border-radius: var(--border-radius);
}

.order-total{
    color: var(--warning-color);
    font-weight: bold;
}

.order-record-area{
    position: relative;
}

.order-record-date{
    display: flex;
    align-items: flex-start;
    position: absolute;
    font-size: 12px;
}

.order-record-circle{
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    margin: 0 15px
}

.order-record-content{
    margin-left: 92px;
    border-left: 1px solid;
    padding-bottom: 15px;
}

.order-record-status{
    padding-left: 15px;
}

.order-record-status p , .order-record-status span{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

/*message*/

.message{
    padding: 10px;
}

.message-store{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    padding: 0 5px;
}

.message-content{
    display: flex;
    justify-content: flex-end;
}

.message-content span{
    font-size: 12px;
    align-self: flex-end;
    color: #c5c5c5;
    white-space: nowrap;
}

.message-content p{
    padding: 5px 10px;
    background-color: #d0dceb;
    margin: 0 10px;
    border-radius: 5px;
    color: #5c6b74;
    word-break: break-all;
    flex: 1 1 0;
    position: relative;
}

.message-content p::after{
    content: '';
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-top-color: #d0dceb;
    border-bottom-color: transparent;
    border-left-color: #d0dceb;
    border-right-color: transparent;
    border-radius: 10px;
    left: auto;
    right: -12px;
    top: 2px;
    position: absolute;
    transform: rotate(270deg);
}

.message-img{
    width: 20%;
}

.message-content img{
    width: 100%;
}

.message-icon{
    color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.message-icon img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: contain;
    padding: 2px;
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 18%);
}

.message-customer .message-icon{
    background-color: #dce2e9;
    color: #5c6b74;
}

.message-customer{
    justify-content: flex-start;
}

.message-customer .message-icon{
    order: 1;
}

.message-customer p{
    order: 2;
    background-color: #edf0f4;
}

.message-customer span{
    order: 3;
}

.message-customer p::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-top-color: #edf0f4;
    border-bottom-color: transparent;
    border-left-color: #edf0f4;
    border-right-color: transparent;
    border-radius: 10px;
    left: -12px;
    top: 2px;
    position: absolute;
    transform: rotate(180deg);
}

.message-customer .message-content{
    justify-content: flex-start;
}

.message-customer .message-content .message-img{
    order: 2;
}

.message-reply{
    padding: 0 5px;
}

.message-reply textarea{
    margin-top: 30px;
    margin-bottom: 7.5px;
}

.message-btn{
    display: flex;
    justify-content: space-between;
}

.message-btn button:first-child{
    background-color: #7c96a1;
    color: #ffffff;
}

.message-btn button:first-child:hover{
    background-color: #86a3b0;
}

.message-img p{
    padding: 10px;
}

.message-list{
    padding: 5px 10px;
    background-color: #edf0f4;
    border-radius: 5px;
    margin-bottom: 7.5px;
}

.message-list:hover{
    background-color: var(--input-hover);
}

.message-list .date{
    color: #c5c5c5;
    float: right;
    font-size: 12px;
}

.part-message{
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.message-left{
    min-height: 70vh;
    border-right: 1px solid #edf0f4;
    padding-right: 10px;
    overflow-y: scroll;
}

.message-middle{
    border-right: 1px solid #edf0f4;
}

.order-message{
    overflow-y: scroll;
}

.message-name{
    margin-bottom: 30px;
    border-bottom: 1px solid #edf0f4;
    padding: 5px 10px;
}

.message-name a{  
    text-decoration: underline;
}

.message-name a:hover{
    color: #78a3bd;
    text-decoration: underline;
}

.message-name a i{
    float: right;
}

.message-info{
    padding: 0 10px;
}

.message-info-name{
    margin-bottom: 10px;
}

.message-info-name p{
    background-color: #7e96a2;
    color: #ffffff;
    border-radius: 5px;
    padding: 3px 5px;
    display: inline-block;
}

.message-info-name span{
    font-size: 12px;
    vertical-align: bottom;
    color: var(--warning-color);
    padding: 0 5px;
    font-weight: bold;
    float: right;
}

.message-info-name i{
    margin-right: 5px;
}

.message-history{
    margin: 10px 0;
    border-top: 1px solid;
    padding-top: 15px;
}

.message-history a{
    text-decoration: underline;
}

.message-history a:hover {
    color: #78a3bd;
    text-decoration: underline;
}

.history-item{
    margin-top: 3px;
}

/*payment-area*/

.payment-all{
    display: flex;
    align-items: baseline;
}

.payment-area{
    display: flex;
    background-color: var(--input-background);
    border-radius: var(--border-radius);
    padding: 5px 7.5px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7.5px;
    flex: 1 1 0;
}

.payment-item{
    display: flex;
}

.payment-img{
    width: 45px;
    margin: 0 10px;
}

.payment-img img{
    width: 100%;
}

.payment-set a{
    padding: 3px;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    color: #ffffff;
}

.payment-set a i{
    font-size: 12px;
    margin-left: 3px;
}

.payment-set a:hover{
    background-color: var(--button-hover);
    color: #ffffff;
}

.payment-unset{
    text-align: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
}

.payment-unset::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dedede;
    left: 0;
    right: 0;
    top: 10px;
}

.payment-unset a{
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    font-weight: bold;
    color: #a2b5c0;
}

.payment-unset a:hover{
    color: var(--button-hover);
}

.payment-unset i{
    margin: 0 3px;
}

.payment-status span{
    color: var(--check-color);
    margin-left: 10px;
    font-size: 12px;
}

.payment-status.stop span{
    color: #de7a63;
}

.payment-status i{
    font-size: 12px;
    margin-left: 3px;
}

.payment-notice{
    padding-left: 15px;
    list-style: outside;
}

.payment-notice a{
    text-decoration: underline;
    font-weight: bold;
    color: #2b4b5e;
}

.payment-notice a:hover{
    color: #a2b5c0;
    text-decoration: underline;
}

.payment-log{
    display: inline-block;
    margin-bottom: 10px;
}

.payment-label{
    margin-right: 10px;
}

.logictics-weight{
    display: flex;
    align-items: flex-end;
}

.logictics-weight span{
    margin: 0 5px;
    margin-bottom: 5px;
}

.weight-freight{
    margin: 0 5px;
}

.country-freight{
    display: flex;
    align-items: flex-end;
}

.logictics-country{
    flex: 1 1 0;
}

.weight-delete{
    margin-bottom: 5px;
}

.payment-unset a[aria-expanded="true"] i{
    transform: rotate(180deg);
}

.invoice-group{
    margin-bottom: 5px;
}

.invoice-group span{
    background-color: #778d9a;
    color: #ffffff;
    border-radius: var(--border-radius);
    padding: 3px;
    position: relative;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 7.5px;
}

.invoice-group a{
    position: absolute;
    top: -10px;
    right: -7px;
}

.invoice-group i{
    font-size: 12px;
    color: #242e33;
    text-shadow: 1px 1px 0px #cacaca;
}

.invoice-btn button{
    height: auto;
    padding: 0;
    background-color: transparent;
}

.invoice-btn button i{
    margin-left: 0;
    color: var(--main-color);
    font-size: 16px;
}

.invoice-btn button:hover{
    background-color: transparent;
}

.invoice-btn button:hover i{
    color: var(--button-hover);
}

/*blog*/

.blog-name{
    display: flex;
}

.blog-name i{
    margin-left: 3px;
}

/**/

.fb-fan{
    font-weight: bold;
    text-decoration: underline;
}

.fb-fan:hover{
    color: #a2b5c0;
    text-decoration: underline;
}

@media (max-width:1118px){
    .product-imges{
     
    }
}

@media (max-width:767px){
    .product-format-name>div{
        width: 100%;
        margin-bottom: 5px;
    }

    .product-format-info{
        flex-wrap: wrap;
    }

    .product-format-name{
        flex-wrap: wrap;
    }

    .product-format-price{
        width: 33.33333%!important;
    }

    .product-format-number{
        width: 100%!important;
    }

    .product-format-stock{
        width: 50%!important;
    }

    .product-format-status{
        width: 100%!important;
    }
}

/* fadeInDown*/
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(20%, -20%, 0);
        transform: translate3d(20%, -20%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(20%, -20%, 0);
        transform: translate3d(20%, -20%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(20%, -20%, 0);
        transform: translate3d(20%, -20%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(20%, -20%, 0);
        transform: translate3d(20%, -20%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/* check*/

@keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    25% {
        height: 0;
        width: 5px;
    }

    50% {
        height: 7px;
        width: 5px;
    }
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #eaeaea;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 10px;
}

.modal-header{
    padding: 0.5rem;
}

.all-btn .cancel{
    background-color: #b6bec4;
}

.all-btn .cancel:hover{
    background-color: #cbd2d6;
}